/* Apply a gradient background to the entire form */
form {
    position: relative;
    background: linear-gradient(135deg, #0e0e0e, #202020);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style the container for form elements */
.form {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

/* Style labels */
form .form label {
    font-size: 2.2em;
    color: #ed0000;
    font-family: 'Arial', sans-serif;
}

/* Style textareas */
form .form textarea {
    resize: none;
    width: 100%;
    height: 150px;
    border: 2px solid #ed0000;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    color: #fff;
    background-color: #333;
    font-family: 'Arial', sans-serif;
}

/* Style input fields */
form .form input {
    font-size: 1em;
    background-color: #333;
    color: #ed0000;
    border: 2px solid #ed0000;
    border-radius: 5px;
    padding: 0.8em 1.2em;
    font-family: 'Arial', sans-serif;
    transition: all 0.3s ease;
}

/* Style input fields on hover */
form .form input:hover {
    color: #fff;
    background-color: #ed0000;
    cursor: pointer;
}

/* Error message styling */
form .error {
    margin: 0;
    padding: 0;
    color: red;
    font-size: 0.9em;
}

/* Additional styles for submit button */
form .form button {
    font-size: 1em;
    background-color: #ed0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.8em 1.5em;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Style submit button on hover */
form .form button:hover {
    background-color: #c30000;
}

@media screen and (max-width: 600px) {
    form {
        padding: 1em;
    }

    .form {
        gap: 1em;
    }

    form .form label {
        font-size: 1.5em;
    }

    form .form textarea {
        height: 100px;
        font-size: 0.9em;
    }

    form .form input {
        font-size: 0.9em;
        padding: 0.6em 1em;
    }

    form .form button {
        font-size: 0.9em;
        padding: 0.6em 1.2em;
    }
}