.site {
  overflow: hidden;
}

.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
}

h3 {
  color: #ed0000;
  font-size: 10px;
  margin-top: 0;
  text-shadow: 0 0 1em #ed0000, 0 0 1em #ed0000, 0 0 1em #ed0000;
}

.movie-details h3 {
  color: #ed0000;
  padding-top: 2em;
  font-size: 4em;
  margin-bottom: 0;
}

.details {
  width: 100em;
  display: flex;
  gap: 5em;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1em;
  overflow: hidden;
  padding: 1em;
}

.details .media {
  flex: 0 1 35em;
  border-radius: 1em;
  overflow: hidden;
}

.details .media img {
  display: block;
  width: 69%;
  height: auto;
  border: 1px solid #ed0000;
  border-radius: 1em;
  box-shadow: 0 0 1em 0 rgba(244, 185, 83, 0.6);
  margin: 1em auto;
}

.details .info {
  flex: 0 0 35em;
  color: #ed0000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2em;
  padding: 1em;
}

.details .info h4 {
  font-size: 3.5em;
  margin-bottom: 0;
}

.details .info h5 {
  font-size: 2em;
}

.details .info p {
  width: 35em;
  font-size: 1.5em;
}

.details .info .buttons {
  display: flex;
  gap: 3em;
}

.details .info .buttons button {
  background-color: black;
  color: #ed0000;
  padding: 1em 2em;
  font-size: 1.5em;
  border: 1px solid #ed0000;
}

.details .info .buttons a {
  background-color: black;
  color: #ed0000;
  padding: 1em 2em;
  font-size: 1.5em;
  border: 1px solid #ed0000;
  text-decoration: none;
  display: block;
}

.details .info .buttons button:hover {
  color: white;
  border-color: white;
  cursor: pointer;
}

.details .info .buttons a:hover {
  color: white;
  border-color: white;
  cursor: pointer;
}

.comments {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1em;
  color: #ed0000;
  width: 100em;
}

.comments h4 {
  text-align: center;
  padding: 1em;
  margin-top: 1em;
  font-size: 2em;
  border-top: 1px solid #ed0000;
  border-bottom: 1px solid #ed0000;
}

.comment-list {
  padding: 2em;
}

.comment-list ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1em;
}

.comment {
  background-color: rgba(197, 184, 184, 0.6);
  color: white;
  border-radius: 0.5em;
  box-shadow: 0 0 1em 0 rgba(244, 185, 83, 0.6);
}

.comment .comment-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #ed0000;
  height: 5em;
  padding: 0 1em;
}

.comment .comment-author .media-author-info {
  display: flex;
  gap: 1em;
}

.comment .comment-author .media-author-info .media {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 3em;
  overflow: hidden;
}

.comment .comment-author .media-author-info .media img {
  display: block;
  width: 100%;
  height: auto;
}

.comment .comment-author .media-author-info h5 {
  margin-bottom: 0;
  font-size: 2em;
  align-self: flex-end;
}

.comment>p {
  font-size: 1.5em;
  padding: 1em;
  margin-bottom: 0;
}

.comment .comment-author p {
  margin-bottom: 0;
  align-self: flex-end;
  font-size: 1em;
}

.deleteBtn {
  background-color: #ed0000;
  color: white;
  padding: 1em 2em;
  font-size: 1.5em;
  border: 1px solid #ed0000;
  margin: 1em;
  border-radius: 1em;
  cursor: pointer;
}

/* Responsive styles */
@media screen and (max-width: 1200px) {
  .details {
    width: 80em;
    gap: 3em;
  }

  .comments {
    width: 80em;
  }
}

@media screen and (max-width: 992px) {
  .details {
    width: 60em;
    flex-direction: column;
    align-items: center;
  }

  .details .media,
  .details .info {
    flex: 1 1 auto;
    width: 100%;
  }

  .details .info p {
    width: auto;
  }

  .comments {
    width: 60em;
  }
}

@media screen and (max-width: 768px) {
  .details {
    width: 100%;
    padding: 1em;
  }

  .details .media img {
    width: 100%;
  }

  .details .info h4 {
    font-size: 2.5em;
  }

  .details .info h5 {
    font-size: 1.5em;
  }

  .details .info p {
    font-size: 1.2em;
  }

  .details .info .buttons {
    flex-direction: column;
    gap: 1em;
  }

  .details .info .buttons button,
  .details .info .buttons a {
    width: 100%;
    text-align: center;
  }

  .comments {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .movie-details h3 {
    font-size: 2em;
  }

  .details {
    padding: 0.5em;
  }

  .details .info h4 {
    font-size: 2em;
  }

  .details .info h5 {
    font-size: 1.2em;
  }

  .details .info p {
    font-size: 1em;
  }

  .details .info .buttons {
    gap: 0.5em;
  }

  .details .info .buttons button,
  .details .info .buttons a {
    padding: 0.5em 1em;
    font-size: 1em;
  }

  .comments h4 {
    font-size: 1.5em;
  }

  .comment .comment-author .media-author-info h5 {
    font-size: 1.5em;
  }

  .comment>p {
    font-size: 1em;
  }

  .comment .comment-author p {
    font-size: 0.8em;
  }

  .deleteBtn {
    padding: 0.5em 1em;
    font-size: 1em;
  }
}

@media screen and (max-width: 400px) {
  .details {
    padding: 0.2em;
  }

  .details .info h4 {
    font-size: 1.5em;
  }

  .details .info h5 {
    font-size: 1em;
  }

  .details .info p {
    font-size: 0.8em;
  }

  .details .info .buttons button,
  .details .info .buttons a {
    padding: 0.3em 0.5em;
    font-size: 0.8em;
  }

  .comments h4 {
    font-size: 1.2em;
  }

  .comment .comment-author .media-author-info h5 {
    font-size: 1.2em;
  }

  .comment>p {
    font-size: 0.8em;
  }

  .comment .comment-author p {
    font-size: 0.6em;
  }

  .deleteBtn {
    padding: 0.3em 0.5em;
    font-size: 0.8em;
  }
}