
.DS_Store
node_modules/

*.pack
*.pack
*.pack
*.json
*.old
*.pack
*.pack
*.pack
*.old
*.pack
Webflix/.angular/cache/16.2.12/angular-webpack/326b6ea28346e0e277ee4c2a22228d3e5d7da909/index.pack.old
Webflix/.angular/cache/16.2.12/angular-webpack/326b6ea28346e0e277ee4c2a22228d3e5d7da909/0.pack
*.old
/Webflix/.angular/cache
