section {
  visibility: hidden;
  opacity: 0;

  &.open {
    visibility: inherit;
    opacity: 1;
  }

  display: block;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms ease-in;

  >div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 25em;
    width: 50em;

    background: #ed0000;
    padding: 64px;

    border-radius: 8px;

    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
  }

  .buttons {
    display: flex;
    gap: 3em;
  }

  .buttons button {
    background-color: black;
    color: #ed0000;
    padding: 1em 2em;
    font-size: 1.2em;
    border: 1px solid #ed0000;
  }

  .buttons button:hover {
    color: white;
    border-color: white;
    cursor: pointer;
  }

  >div h1 {
    margin-bottom: 1.1em;
    padding: 0;
  }

  >div h2 {
    margin-bottom: 1em;
    padding: 0;
  }
  >div h2 span{
    color: rgb(2, 0, 0);
  }
}