.searchBox {
  display: flex;
  max-width: 730px;
  align-items: center;
  justify-content: space-betwen;
  gap: 8px;
  background: #2f3640;
  border-radius: 50px;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
}

.searchButton {
  margin-top: 6px;
  color: #e50914;
  position: absolute;
  right: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(
    --gradient-2,
    linear-gradient(90deg, #e50914 0%, #e50914 100%)
  );
  border: 0;
  display: inline-block;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
/*hover effect*/
button:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}
/*button pressing effect*/
button:active {
  box-shadow: none;
  transform: translateY(0);
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  color: rgb(248, 248, 248);
  font-size: 20px;
  padding: 24px 46px 24px 26px;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
}
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e50914;
  margin-top: 5em;
  margin-bottom: 5em;
  background-color: rgba(0, 0, 0, 0.4) !important;
}
.recent-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  margin-bottom: 5em;
}
.recentMovieTxt {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 8em;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background: -webkit-linear-gradient(#e50914, #f00000);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 1;
}

.recent-posts .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #e50914;
  background-color: rgba(0, 0, 0, 0.4) !important;
  padding: 1em;
  border-radius: 20px;
}
.more-moviesbtn {
  padding: 17px 40px;
  border-radius: 10px;
  border: 0;
  background-color: #e50914;
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.3s ease;
  box-shadow: #e50914(2, 95%, 24%) 0px 10px 0px 0px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.more-moviesbtn:hover {
  box-shadow: #e50914 0px 7px 0px 0px;
  transform: translateY(3px);
  transition: 200ms;
}

.more-moviesbtn:active {
  background-color: #e50914;
  /*50, 168, 80*/
  box-shadow: #e50914(2, 100%, 50%, 0.577) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}

.recent-posts .info h3 {
  margin-bottom: 0;
  border-radius: 20px;
}
.recent-posts .info a {
  text-decoration: none;
  color: #e50914;
  font-size: 1.2em;
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 10em;
  border-radius: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25em;
  border-radius: 20px;
  background-color: #e50914;

  border: 1px solid #e50914;
  border-radius: 1em;
  box-shadow: 0 0 1em 0 rgba(244, 185, 83, 0.6);
  margin: 1em auto;
}
.card .media {
  width: 100%;
  height: 30em;
  display: flex;
  margin-bottom: 0.5em;
  border-radius: 20px;
}
.card .media img {
  display: block;
  max-width: 100%;
  border-radius: 20px;
  height: auto;
}
.card .card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
.card .card-info a {
  display: block;
  text-decoration: none;
  text-align: center;
  width: 102%;
  padding: 0.5em 0.3em;
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.2em;
  font-weight: bold;
  border-radius: 10px;
}
.card .card-info a:hover {
  color: black;
  cursor: pointer;

  background-color: antiquewhite;
}
.card .card-info h3 {
  margin-bottom: 1em;
  border-radius: 20px;
}

.loader {
  --col1: #e50914;
  --col2: #e50914;
  font-size: 3em;
  font-weight: 600px;
  perspective: 800px;
  position: relative;
}

.loader::after,
.loader::before,
.loader .text::after,
.loader .text::before {
  perspective: 800px;
  animation: anim 2s ease-in-out infinite,
    dotMove 10s ease-out alternate infinite, move 10s linear infinite 1s;
  content: "●";
  color: var(--col1);
  position: absolute;
  translate: -60px 500px;
  width: 5px;
  height: 5px;
}

.loader::before {
  animation-delay: 3s;
  color: var(--col1);
}

.loader .text::before {
  color: var(--col2);
  animation-delay: 2s;
}

.loader .text::after {
  color: var(--col2);
}

.loader .text {
  animation: anim 20s linear infinite, move 10s linear infinite 1s;
  color: transparent;
  background-image: linear-gradient(90deg, var(--col1) 0%, var(--col2) 100%);
  background-clip: text;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: skew(5deg, -5deg);
  -webkit-background-clip: text;
  position: relative;
}

@keyframes anim {
  0%,
  100% {
    text-shadow: 2px 0px 2px rgba(255, 8, 8, 0.5);
  }

  50% {
    background-size: 0%;
    background-position-x: left;
  }
}

@keyframes move {
  50% {
    translate: 0px 0px;
    rotate: x 60deg;
    transform: skew(-5deg, 5deg);
  }
}

@keyframes dotMove {
  0%,
  100% {
    translate: -60px 300px;
  }

  50% {
    translate: 160px -250px;
    scale: 0.5;
    opacity: 0.85;
  }
}
.info {
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -10px;
}

.recentMovieTxt {
  text-align: center;
}
