.error-message{
    padding: 0.5em;
    border: 2px solid #590E09;
    background-color: black;
    border-radius: 0.5em;
    width: fit-content;
}
.error-message p{
    margin: 0;
    font-size: 1.1em;
}