.fancyDivAbout {
  padding: 20px;
  background: linear-gradient(135deg, #ff0000, #a20000);
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  animation: fadeIn 1s ease-in-out;
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fancyDivAbout h3 {
  font-family: "Roboto", sans-serif;
  color: #fafbeb;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform: perspective(100px) rotateX(10deg);
  margin-bottom: 10px;
  animation: bounce 2s infinite;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-2px);
  }

  60% {
    transform: translateY(-5px);
  }
}

.fancyDivAbout h3::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 100;
  height: 3px;
  width: 50px;
  background: #a11414;
}

.fancyDivAbout:hover {
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

h1 {
  text-transform: uppercase;
  font-size: 4em;
  font-weight: bold;
  text-shadow: 11px 7px 11px rgba(0, 0, 0, 0.5);
  transform: perspective(100px) rotateX(10deg);
  margin-bottom: 9px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* Responsive styles */
@media screen and (max-width: 1200px) {
  .fancyDivAbout {
    max-width: 700px;
    padding: 25px;
  }

  .fancyDivAbout h3 {
    font-size: 2.5em;
  }

  h1 {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 900px) {
  .fancyDivAbout {
    max-width: 600px;
    padding: 20px;
  }

  .fancyDivAbout h3 {
    font-size: 2em;
  }

  h1 {
    font-size: 3em;
  }
}

@media screen and (max-width: 600px) {
  .fancyDivAbout {
    max-width: 380px;
    padding: 20px;
  }

  .fancyDivAbout h3 {
    font-size: 1.8em;
  }

  h1 {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 400px) {
  .fancyDivAbout {
    max-width: 300px;
    padding: 10px;
  }

  .fancyDivAbout h3 {
    font-size: 1.5em;
  }

  h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 300px) {
  .fancyDivAbout {
    max-width: 250px;
    padding: 5px;
  }

  .fancyDivAbout h3 {
    font-size: 1.2em;
  }

  h1 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 200px) {
  .fancyDivAbout {
    max-width: 200px;
    padding: 2px;
  }

  .fancyDivAbout h3 {
    font-size: 1em;
  }

  h1 {
    font-size: 1.2em;
  }
}