.recent-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 3em;
    height: 100%;
}

.recent-posts .info {
    display: flex;
    justify-content: center;
    width: 100%;
    color: hsl(2, 100%, 50%);
}

.recent-posts .info h3 {
    margin-bottom: 0;
    text-transform: uppercase;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    gap: 2em;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25em;
    background-color: #E50914;
    border-radius: 20px;
    border: 1px solid #ed0000;
    border-radius: 1em;
    box-shadow: 0 0 1em 0 rgba(244, 185, 83, 0.6);
    margin: 1em auto;
}

.card .media {
    width: 100%;
    height: 30em;
    display: flex;
    margin-bottom: 0.5em;
    border-radius: 20px;
}

.card .media img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.card .card-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.card .card-info a {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 370px;
    padding: 0.5em 0.3em;
    background-color: black;
    color: white;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.2em;
    font-weight: bold;
    border-radius: 20px;
}

.card .card-info a:hover {
    color: black;
    cursor: pointer;
    background-color: antiquewhite;
    border-radius: 20px;
}

.card .card-info h3 {
    margin-bottom: 1em;
    border-radius: 20px;
}

.recentMovieTxt {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 8em;
    font-weight: bold;
    margin-top: -50px;
    margin-bottom: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: -webkit-linear-gradient(#e50914, #f00000);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 1;
}

/* Responsive styles */
@media screen and (max-width: 1200px) {
    .card {
        width: 20em;
    }

    .card .media {
        height: 25em;
    }

    .card .card-info a {
        width: 300px;
    }
}

@media screen and (max-width: 900px) {
    .card-list {
        width: 100%;
    }

    .card {
        width: 18em;
    }

    .card .media {
        height: 20em;
    }

    .card .card-info a {
        width: 250px;
    }
}

@media screen and (max-width: 600px) {
    .recent-posts {
        padding-top: 2em;
    }

    .card {
        width: 15em;
    }

    .card .media {
        height: 15em;
    }

    .card .card-info a {
        width: 200px;
    }
}

@media screen and (max-width: 500px) {
    .recentMovieTxt {
        font-size: 4rem;
    }

    .card {
        width: 12em;
    }

    .card .media {
        height: 12em;
    }

    .card .card-info a {
        width: 150px;
    }
}

@media screen and (max-width: 400px) {
    .card-list {
        gap: 1em;
    }

    .card {
        width: 10em;
    }

    .card .media {
        height: 10em;
    }

    .card .card-info a {
        width: 120px;
    }
}

@media screen and (max-width: 300px) {
    .card-list {
        gap: 0.5em;
    }

    .card {
        width: 8em;
    }

    .card .media {
        height: 8em;
    }

    .card .card-info a {
        width: 100px;
    }
}