
.recent-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    background-color: rgba(0, 0, 0,0.4);
    padding-top: 3em;
    height: 100%;
    
}
.recent-posts .info{
    display: flex;
    justify-content: center;
    width: 100%;
    color: hsl(2, 100%, 50%)
    
}
.recent-posts .info h3{
    margin-bottom: 0;
    text-transform: uppercase;
}
.card-list{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    gap: 2em;
   
    

   
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25em;
    background-color: #E50914;
   border-radius: 20px;
   
    border: 1px solid #ed0000;
  border-radius: 1em;
  box-shadow: 0 0 1em 0 rgba(244, 185, 83, 0.6);
  margin: 1em auto;
}
.card .media{
    width: 100%;
    height: 30em;
    display: flex;
    margin-bottom: 0.5em;
   border-radius: 20px;
}
.card .media img{
    display: block;
    max-width: 100%;
    height: auto;
   border-radius: 20px;
}
.card .card-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   border-radius: 20px;
}
.card .card-info a{
    display: block;
    text-decoration: none;
    text-align: center;
    width: 370px;
    padding: 0.5em 0.3em;
    background-color: black;
    color: white;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.2em;
    font-weight: bold;
   border-radius: 20px;
    
}
.card .card-info a:hover{
    color: black;
    cursor: pointer;
    background-color: antiquewhite;
   border-radius: 20px;
}
.card .card-info h3{
    margin-bottom: 1em;
   border-radius: 20px;
}
