<div class="recent-posts">
    <div class="info">
        <h3 class="recentMovieTxt">All movies</h3>
    </div>
    <app-no-movies *ngIf="noMovies" />
    <app-loading-spinner *ngIf="isLoading" />
    <ul class="card-list" *ngIf="!noMovies && !isLoading">
        <li class="card" *ngFor="let movie of movies">
            <div class="media">
                <img src="{{movie.imageUrl}}" alt="movie image">
            </div>
            <div class="card-info">
                <h3>{{movie.title}}</h3>
                <h5>Director: {{movie.director}} | <span>Year: {{movie.year}}</span></h5>
                <p>Genre: {{movie.genre}}</p>
                <a [routerLink]="['/', 'movie-details', movie._id]">Details</a>
            </div>
        </li>
    </ul>
</div>