<div class="nav">
    <a href="">
        <div class="logo">
            <button class="button" data-text="Awesome">
                <span class="actual-text">&nbsp;WebFlix&nbsp;</span>
                <span aria-hidden="true" class="hover-text">&nbsp;WebFlix&nbsp;</span>
            </button>

        </div>
    </a>
    <nav>
        <ul class="nav-btns">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/dashboard">Movies</a></li>
            <li><a routerLink="/movie-create" *ngIf="isLoggedIn">Add Movie</a></li>
            <li><a routerLink="/login" *ngIf="!isLoggedIn">Login</a></li>
            <li><a routerLink="/register" *ngIf="!isLoggedIn">Register</a></li>
            <li><a routerLink="/home" (click)="logoutHandler()" *ngIf="isLoggedIn">Logout</a></li>
            <li><a routerLink="/my-profile" *ngIf="isLoggedIn">My Profile</a></li>
        </ul>
    </nav>
</div>